<!DOCTYPE html>
<html>
  <head>
    <% var headParam = {title: 'Orca webpack starter - About', description:
    'Orca webpack starter boilerplate',} %> <%=
    _.template(require('../components/head.html'))(headParam) %>
  </head>

  <body>
    <% var tempParameters = require('../template-parameters.js') %> <%=
    _.template(require('../components/header.html'))(tempParameters) %>
    <div class="body">
      <p>About</p>
    </div>
    <%= _.template(require('../components/footer.html'))(tempParameters) %>
  </body>
</html>
