<% var tempParameters = require('../template-parameters.js') %>
<%= _.template(require('../components/head.html'))(tempParameters.contacts) %>
<%= _.template(require('../components/header.html'))(tempParameters) %>
<main>
  <div class="container-fluid">
    <h1>Контакты</h1>
    <dl class="row">
      <dt class="col-sm-2">Github</dt>
      <dd class="col-sm-10">
        <a
          href="https://github.com/biggestorca"
          target="_blank"
          rel="noopener noreferrer"
        >
          @biggestorca
        </a>
      </dd>
      <dt class="col-sm-2">Email</dt>
      <dd class="col-sm-10">
        <a
          href="mailto:imma.big.orca@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          gmail
        </a>
      </dd>
    </dl>
  </div>
</main>
<%= _.template(require('../components/footer.html'))(tempParameters) %>
