<!DOCTYPE html>
<html>
  <head>
    <% var headParam = {
      title: 'Orca webpack starter', 
      description: 'Orca webpack starter boilerplate',
    } %> 

      
      <%= _.template(require('../components/head.html'))(headParam) %>
  </head>

  <body>
    <% var tempParameters = require('../template-parameters.js') %> <%=
    _.template(require('../components/header.html'))(tempParameters) %>
    <div class="body">
      <img src="../img/photo.jpg" alt="" />
    </div>
    <%= _.template(require('../components/footer.html'))(tempParameters) %>
  </body>
</html>
