<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%- title %></title>
    <meta name="description" content="<%- description %>" />
    <meta property="og:title" content="Surf." />
    <meta property="og:description" content="Surf povered by bigorca." />
    <meta name="theme-color" content="#fff" />
    <link rel="shortcut icon" href="img/favicon/favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <link
      href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,800"
      rel="stylesheet"
    />
  </head>

  <body>
