<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%- title %></title>
    <meta name="description" content="<%- description %>" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=5"
    />
    <meta property="og:title" content="Todo list." />
    <meta property="og:description" content="Todo list povered by bigorca." />
    <meta name="theme-color" content="#0b0b0c" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="manifest" href="manifest.json" />

    <!-- Google Analytics: match UA-XXXXX-Y to be your site's ID. -->
    <!-- <script>
    window.ga = function() {
      ga.q.push(arguments);
    };
    ga.q = [];
    ga.l = +new Date();
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview');
  </script>
  <script
    src="https://www.google-analytics.com/analytics.js"
    async
    defer
  ></script> -->
  </head>

  <body></body>
</html>
