<header class="header">
  <img
    src="/img/Logo.png"
    srcset="/img/Logo@2x.png 2x"
    alt="Logo"
    class="logo"
  />

  <nav class="nav">
    <ul>
      <li>
        <a href="#surf"> <%= nav.surf %> Surf</a>
      </li>
      <li><a href="#travel"><%= nav.travel %> Travel</a></li>
      <li><a href="#sleep"><%= nav.sleep %> Sleep</a></li>
      <li><a href="#shop"><%= nav.shop %> Shop</a></li>
    </ul>
  </nav>
  <div class="search">
    <img src="/img/icons/Search.svg" alt="" />
  </div>
  <div id="date" class="date">
    <div class="day"></div>
    <div class="month-year-wrapper">
      <span class="month"></span>
      <span>&nbsp;|&nbsp;</span>
      <span class="year"></span>
    </div>
  </div>
</header>
