<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-line-wrap">
      <div class="preloader-line"></div>
    </div>
    <div class="preloader-line-wrap">
      <div class="preloader-line"></div>
    </div>
    <div class="preloader-line-wrap">
      <div class="preloader-line"></div>
    </div>
    <div class="preloader-line-wrap">
      <div class="preloader-line"></div>
    </div>
    <div class="preloader-line-wrap">
      <div class="preloader-line"></div>
    </div>
  </div>
</div>
