<section class="section sleep" id="sleep">
  <h2 class="section__title" data-name="Sleep">Sleep</h2>
  <div class="section__subtitle-wrapper">
    <div class="width-line">
      resorts
    </div>
    <div
      class="section__subtitle-name animation animation__appear"
      id="sleep-location"
    ></div>
  </div>
  <div class="slider__manipulation opacity">
    <button class="prev">prev</button>
    <button class="next">next</button>
  </div>

  <img
    alt="sleep"
    class="sleep__image lazy animation animation__appear"
    id="sleep__location-image"
  />

  <div class="sleep__rating">
    <div class="sleep__rating-name-wrapper">
      <div class="width-line width-line--revert ">
        rating
      </div>
      <div
        class="sleep__rating-name animation animation__appear"
        id="sleep__rating"
      ></div>
    </div>
    <img
      class="sleep__rating-icon lazy"
      src="/img/gammok.png"
      data-src="/img/gammok.png"
      alt="airline"
    />
  </div>

  <div class="parameter">
    <div class="parameter__list">
      <div class="parameter__item">
        <div class="parameter__name">Resort</div>
        <div class="parameter__content">
          <div
            class="parameter__value animation animation__appear"
            id="sleep__resort"
          ></div>
        </div>
      </div>
      <div class="parameter__item">
        <div class="parameter__name"># of Nights</div>
        <div class="parameter__content">
          <div class="parameter__value" id="sleep__night"></div>
          <div class="parameter__other-stuff">
            <button id="decrement-night">
              decrement-night
              <svg
                width="14"
                height="4"
                viewBox="0 0 14 4"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.137512 0.376953H13.8633V3.12178H0.137512L0.137512 0.376953Z"
                  fill="#4AF6CD"
                />
              </svg>
            </button>
            <button id="increment-night">
              increment-night
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.137512 5.62695H13.8633V8.37178H0.137512L0.137512 5.62695Z"
                  fill="#4AF6CD"
                />
                <path
                  d="M5.6272 0.137695H8.37202V13.8635H5.6272V0.137695Z"
                  fill="#4AF6CD"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="parameter__item">
        <div class="parameter__name"># of Guests</div>
        <div class="parameter__content">
          <div class="parameter__value" id="sleep__guests"></div>
          <div class="parameter__other-stuff">
            <button id="decrement-guest">
              decrement-guest
              <svg
                width="14"
                height="4"
                viewBox="0 0 14 4"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.137512 0.376953H13.8633V3.12178H0.137512L0.137512 0.376953Z"
                  fill="#4AF6CD"
                />
              </svg>
            </button>
            <button id="increment-guest">
              increment-guest
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.137512 5.62695H13.8633V8.37178H0.137512L0.137512 5.62695Z"
                  fill="#4AF6CD"
                />
                <path
                  d="M5.6272 0.137695H8.37202V13.8635H5.6272V0.137695Z"
                  fill="#4AF6CD"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="parameter__item">
        <div class="parameter__name">Pricing</div>
        <div class="parameter__content">
          <div class="parameter__value" id="sleep__pricing"></div>
          <div class="parameter__title" id="per-night">per night</div>
        </div>
      </div>
    </div>
  </div>
  <img
    class="sleep__flower lazy"
    alt="flower"
    src="/img/Frangipani.png"
    data-src="/img/Frangipani.png"
  />

  <div class="hero sleep__hero">
    Book
    <span
      >Stay
      <svg
        width="25"
        height="21"
        viewBox="0 0 25 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.8668 19.5873L24.0804 11.4365C24.8328 10.6854 24.8328 9.46618 24.0804 8.71755L15.8668 0.561937C15.1081 -0.189203 13.88 -0.185434 13.1214 0.561937C12.3702 1.31433 12.3702 2.52853 13.1214 3.28093L17.9265 8.04835L2.5123 8.04835C1.39879 8.04835 0.497906 8.94798 0.497906 10.0615C0.497906 11.1737 1.39879 12.0746 2.5123 12.0746L17.9555 12.0746L13.1214 16.8672C12.3702 17.6183 12.3702 18.8338 13.1214 19.5849C13.8788 20.3373 15.1068 20.3386 15.8668 19.5874V19.5873Z"
          fill="white"
        />
      </svg>
    </span>
  </div>
</section>
