<section class="section surf" id="surf">
  <h2 class="section__title" data-name="Surf">Surf</h2>
  <div class="section__subtitle-wrapper">
    <div class="width-line">
      Current location
    </div>
    <div
      class="section__subtitle-name animation animation__appear"
      id="surf-current-location"
    ></div>
  </div>
  <div class="map">
    <div class="coords">34.0501⚬N -118.2446⚬W</div>
  </div>
  <div class="slider__manipulation opacity">
    <button class="prev">prev</button>
    <button class="next">next</button>
  </div>
  <div class="card">
    <div class="card__list" id="card__list"></div>
  </div>
</section>
