.first-screen {
  position: relative;
  z-index: 1;
  min-height: 1024px;
  padding-left: 169px;
  background: transparent url('/img/Surf_The_Wave.jpg') 0 0 no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .header,
  .slider {
    min-height: 1024px;
  }

  &.all-screen-height {
    height: 100vh;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    content: '';
    background:
      radial-gradient(
        894.1px at 42.87% 49.23%,
        rgba(34, 34, 34, 0.426517) 0%,
        #0f0f0f 100%
      );
    background:
      -ms-radial-gradient(
        894.1px at 42.87% 49.23%,
        rgba(34, 34, 34, 0.426517) 0%,
        #0f0f0f 100%
      );
  }

  @keyframes a {
    from {
      bottom: 43px;
    }

    50% {
      bottom: 33px;
    }

    to {
      bottom: 43px;
    }
  }

  .go-to-surf {
    position: absolute;
    bottom: 33px;
    left: 199px;
    z-index: 3;
    width: 40px;
    height: 40px;
    font-size: 0;
    color: transparent;
    background: transparent url('/img/icons/Down_Arrows.svg') 10px 8px no-repeat;
    animation: a 2.75s infinite ease-in-out;
  }

  .slider {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    padding: 30px 80px 14px 0;

    &__manipulation {
      z-index: 3;
    }

    &__cost-line {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      opacity: 0.5;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &--ie {
        position: absolute;
        right: 80px;
        bottom: 34px;
      }
    }

    .width-line {
      margin-right: -7px;
    }

    &__name {
      margin-bottom: 41px;
      font-size: $f-x-lg;
      font-weight: 800;
      line-height: 80px;
      line-height: 86px;
      text-transform: uppercase;

      &--title {
        margin-bottom: 12px;
      }
    }

    &__condition {
      margin-bottom: 28px;
      font-size: $f-lg;
      font-weight: 800;
      line-height: 30px;
      text-transform: uppercase;

      &--title {
        margin-bottom: 19px;
      }
    }

    &__direction {
      width: 25px;
      height: 20px;
      margin-bottom: 41px;

      &--radial {
        background: transparent url('/img/icons/next.svg') 0 0 no-repeat;
      }

      &--conservative {
        background: transparent url('/img/icons/prev.svg') 0 0 no-repeat;
      }
    }

    &__location-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-end;
    }

    &__location-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 200px;
      padding-top: 3px;
      margin-bottom: 20px;
      margin-left: 40px;
      cursor: pointer;
      border-top: 4px solid #fff;

      &:hover {
        border-top: 4px solid $secondary;
      }

      &--active {
        border-top: 4px solid $secondary;
      }

      &-count {
        margin-right: 5px;
        font-size: $f-xx-md;
        font-weight: 800;
        line-height: 34px;
      }

      &-name {
        font-weight: 300;
      }
    }
  }

  .svg {
    &-current-location {
      position: absolute;
      top: 72px;
      right: 265px;
      z-index: 3;
    }

    &-path {
      position: absolute;
      z-index: 2;
      display: none;

      &-active {
        display: initial;
      }

      &-north-shore {
        top: 87px;
        right: 275px;
      }

      &-west-shore {
        top: 83px;
        right: 239px;
      }

      &-south-shore {
        top: 80px;
        right: 179px;
      }

      &-east-shore {
        top: 80px;
        right: 146px;
      }
    }

    &-destination {
      position: absolute;
      z-index: 3;

      &-north-shore {
        top: 222px;
        right: 633px;
      }

      &-west-shore {
        top: 313px;
        right: 421px;
      }

      &-south-shore {
        top: 357px;
        right: 337px;
      }

      &-east-shore {
        top: 465px;
        right: 273px;
      }
    }
  }
}
