.slider {
  &__manipulation {
    button {
      width: 40px;
      height: 40px;
      font-size: 0;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      outline: 0;

      &.prev {
        background: url('/img/icons/prev.svg') 15px 10px no-repeat;
      }

      &.next {
        background: url('/img/icons/next.svg') 15px 10px no-repeat;
      }
    }
  }
}
