@import '_custom.scss';
/* from node_modules */
@import 'normalize.css';

/* custom */
@import 'variables.scss';
@import 'media.scss';
@import 'fonts.scss';

/* components */
@import 'header.scss';
@import 'footer.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'MuseoSans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  main {
    flex: 1 0 auto;
  }
}

.main-info {
  margin-top: 40px;
}
