/* from node_modules */
@import 'normalize.css';

/* custom */
@import 'mixin.scss';
@import 'variables.scss';
@import 'media.scss';
@import 'fonts.scss';
@import 'slider.scss';

/* components */
@import 'hero-block.scss';
@import 'header.scss';
@import 'first-screen.scss';
@import 'surf.scss';
@import 'travel.scss';
@import 'sleep.scss';
@import 'shop.scss';
@import 'footer.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1400px;
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
  background: $primary;

  main {
    flex: 1 0 auto;
  }
}

// временная
.section {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: $f-x-lg;
  font-weight: 800;
}

.width-line {
  position: relative;
  font-size: $f-x-md;
  line-height: 32px;
  color: transparentize(#fff, 0.5);
  text-transform: uppercase;
  letter-spacing: 7.33px;

  &::before {
    position: absolute;
    top: 45%;
    left: -64px;
    width: 80px;
    height: 1px;
    content: '';
    background: transparentize($gray--dark, 0.5);
    transform: translate(-50%, 0);
  }
}
